reduce/iac/asl.json
{
    "StartAt": "Gate",
    "States": {
      "Gate": {
        "Type": "Task",
        "Resource": "${FnGate}",
        "OutputPath": "$",
        "Next": "Choice"
      },
      "Choice": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.is_ready",
            "StringEquals": "true",
            "Next": "MReduce"
          },
          {
            "Variable": "$.is_ready",
            "StringEquals": "false",
            "Next": "Wait"
          }
        ],
        "Default": "MReduce"
      },
      "MReduce": {
        "Type": "Map",
        "ItemsPath": "$.mapped",
        "End": true,
        "Iterator": {
          "StartAt": "SReduce",
          "States": {
            "SReduce": {
              "Type": "Task",
              "Resource": "${FnReduce}",
              "OutputPath": "$",
              "End": true
            }
          }
        }
      },
      "Wait": {
        "Type": "Wait",
        "Seconds": 60,
        "Next": "Gate"
      }
    }
  }