reduce/iac/asl.json
{
    "StartAt": "ReduceGate",
    "States": {
      "ReduceGate": {
        "Type": "Task",
        "Resource": "${FnGate}",
        "OutputPath": "$",
        "Next": "IsMapComplete"
      },
      "IsMapComplete": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.is_ready",
            "StringEquals": "true",
            "Next": "Reduce"
          },
          {
            "Variable": "$.is_ready",
            "StringEquals": "false",
            "Next": "Wait"
          }
        ],
        "Default": "Reduce"
      },
      "Reduce": {
        "Type": "Map",
        "ItemsPath": "$.mapped",
        "Iterator": {
          "StartAt": "ReduceAggregate",
          "States": {
            "ReduceAggregate": {
              "Type": "Task",
              "Resource": "${FnReduce1}",
              "OutputPath": "$",
              "End": true
            }
          }
        },
        "Next": "ReduceRank"
      },
      "Wait": {
        "Type": "Wait",
        "Seconds": 60,
        "Next": "ReduceGate"
      },
      "ReduceRank": {
        "Type": "Task",
        "Resource": "${FnReduce2}",
        "OutputPath": "$",
        "End": true
      }
    }
  }